[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
djangorestframework = "*"
pybliometrics = "*"
pymed = "*"
biopython = "*"

[dev-packages]

[requires]
python_version = "3.9"
