[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
djangorestframework = "*"
pybliometrics = "*"
pymed = "*"
biopython = "*"
sudo = "*"
swagger-client = {ref = "main", git = "https://github.com/Clarivate-SAR/woslite_py_client"}
djongo = "*"
pymongo = "==3.12.1"
python-decouple = "*"
xplore = "*"
pycountry = "*"
iso3166 = "*"
elsapy = "*"

[dev-packages]

[requires]
python_version = "3.9"
