
.banner {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#searcharea {
    padding-left: 50px;
    padding-right: 50px;
}

#displayarea {
    padding-left: 60px;
    padding-right: 60px;
    height: 100%;
}

.search-container {
    padding: 10px 10px;
}

.search-container select {
    margin-left: 5px;
}

input {
    min-width: 100%;
    max-width: 100%;
}
.rule-value-container {
    width: calc(100% - 42%);
    /*Can use either % value or px */
    display: inline-block;
}

/* @media screen and (min-width: 1400px) {
    .rule-value-container {
        width: calc(100% - <new % value>);
    }
} */

.fa-heart-o {
    color: red;
    cursor: pointer;
}

.fa-heart {
    color: red;
    cursor: pointer;
}